<div class="main-container">
    <div class="name">
      <h1>My Expertise in this areas</h1>
    </div>
    <div class="content-left">
      <h2>Ever Design is a new design and Challenging</h2>
      <h2>
        Creative Designer who is all ready to Amaze you with my professional skills, my flair for creative
        development and design on any type of web or graphic works.
      </h2>
    </div>
    <div class="content-right">
      <h2>My Tools</h2>
      <ul>
        <li class="animated-item">Adobe Photoshop (70%)</li>
        <li class="animated-item">Adobe XD (85%)</li>
        <li class="animated-item">Figma (85%)</li>
      </ul>
    </div>
  </div>
  